fieldset {
    min-width: 0 !important;
    padding: .35em .625em .75em !important;
    margin: 0 !important;
    /*border: 0;*/
    border:1px solid #ccc !important;
    margin-bottom:10px !important;
    padding-top:10px !important;
    margin-top:0px !important;
}
legend {
    display: block !important;
    width: auto !important;
    padding: 0 !important;
    margin-bottom: 0px !important;
    font-size: 16px !important;
    line-height: inherit !important;
    color: #333 !important;
    border: 0 !important;
    /*border-bottom: 1px solid #e5e5e5;*/
}
.error-message {
    color: #e4482f;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity = 0);
}

.upload_file {
    width: 100px;
    height: 34px;
    color: #fff;
    background-color: #c64B0B;
    border-radius: 3px;
    border: 1px solid #c64b0b;
}
.loader_in_css{top:30%;left:45%;position:absolute;z-index:1}