<style>
    .form-horizontal .control-label {
        font-size:12px !important;
    }
    .form-control {
        height:30px !important;
        padding: 0px 12px !important;
    }
    .loader_in_css{top:20%;left:45%;position:absolute;z-index:1}
</style>
<div class="loader_in_css" ng-show="loader"><img src="images/loader.GIF"/></div>

<form
        name="addNewContactForm"
        class="form-horizontal"
        role="form"
        ng-submit="addNewContact(addNewContactForm.$valid)"
        novalidate>
<!--<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Add new Contact</h3>
</div>-->
<div class="modal-body">
        <fieldset>
            <legend>New Contact</legend>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="firstName" class="control-label col-sm-3">First Name <span class="text-danger">*</span></label>

                    <div class="col-sm-8">
                        <input
                                id="firstName"
                                class="form-control"
                                name="firstName"
                                ng-model="addNewContact.firstName"
                                placeholder="Enter first name"
                                required
                        />
                        <div class="error-container"
                             ng-show="(submitted || addNewContactForm.firstName.$dirty) && (submitted || addNewContactForm.firstName.$invalid)">
                            <small class="text-danger"
                                   ng-show="addNewContactForm.firstName.$error.required">
                                Please enter first name </small>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="control-label col-sm-3">Last Name <span class="text-danger">*</span></label>

                    <div class="col-sm-8">
                        <input
                                id="lastName"
                                class="form-control"
                                name="lastName"
                                ng-model="addNewContact.lastName"
                                placeholder="Enter last name"
                                required
                        />
                        <div class="error-container"
                             ng-show="(submitted || addNewContactForm.lastName.$dirty) && (submitted || addNewContactForm.lastName.$invalid)">
                            <small class="text-danger"
                                   ng-show="addNewContactForm.lastName.$error.required">
                                Please enter last name </small>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="contactEmail" class="control-label col-sm-3">Contact Email <span class="text-danger">*</span></label>

                    <div class="col-sm-8">
                        <input
                                id="contactEmail"
                                class="form-control"
                                name="contactEmail"
                                ng-model="addNewContact.contactEmail"
                                placeholder="Enter contact email address"
                                required
                        />
                        <div class="error-container"
                             ng-show="(submitted || addNewContactForm.contactEmail.$dirty) && (submitted || addNewContactForm.contactEmail.$invalid)">
                            <small class="text-danger"
                                   ng-show="addNewContactForm.contactEmail.$error.required">
                                Please enter contact email </small>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="contactPhone" class="control-label col-sm-3">Contact Phone <span class="text-danger">*</span></label>

                    <div class="col-sm-8">
                        <input
                                id="contactPhone"
                                class="form-control"
                                name="contactPhone"
                                ng-model="addNewContact.contactPhone"
                                placeholder="Enter contact phone"
                                required
                        />
                        <div class="error-container"
                             ng-show="(submitted || addNewContactForm.contactPhone.$dirty) && (submitted || addNewContactForm.contactPhone.$invalid)">
                            <small class="text-danger"
                                   ng-show="addNewContactForm.contactPhone.$error.required">
                                Please enter contact phone </small>
                        </div>

                    </div>
                </div>
            </div>


        </fieldset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit">Submit</button>
    <button class="btn btn-warning" type="reset" ng-click="cancel()">Cancel</button>
</div>
</form>
</div>