<style>
    .loader_in_css{top:20%;left:45%;position:absolute;z-index:1}
</style>
<div class="loader_in_css" ng-show="loader"><img src="images/loader.GIF"/></div>
<form
        name="AddNewProductnotListedForm"
        class="form-horizontal"
        role="form"
        novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Add new Product</h3>
    </div>
    <div class="modal-body">
        <fieldset>
            <legend>Add new product</legend>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="productType" class="control-label col-sm-3">Type:</label>

                    <div class="col-sm-8">
                        <select class="form-control"
                                id="productType"
                                name="productType"
                                ng-model="addNewProductnotListed.productLine"
                                ng-options="product as product.name for product in productLines "
                        >
                            <option  value="">List of types</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="productSerialNumber" class="control-label col-sm-3">Serial #:</label>

                    <div class="col-sm-8">
                        <input
                                id="productSerialNumber"
                                class="form-control"
                                name="productSerialNumber"
                                ng-model="addNewProductnotListed.productSerialNumber"
                                placeholder="Enter product serial number"
                        />

                    </div>
                </div>
                <div class="form-group">
                    <label for="productDescription" class="control-label col-sm-3">Description:</label>

                    <div class="col-sm-8">
                        <textarea
                                id="productDescription"
                                class="form-control"
                                name="productDescription"
                                ng-model="addNewProductnotListed.productDescription"
                                placeholder="Enter product description"
                        ></textarea>

                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="addNewProductLine()">Add</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>